html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-container:empty {
  display: none;
}

@media (max-width: 959px) {
  .apps-container {
    flex-direction: column;
  }
}
