.nv-app {
  --navigator-padding: 0.375rem;
  --navigator-padding-2x: 0.75rem;
  --navigator-gap: 0.375rem;
  --navigator-gap-2x: 0.75rem;
  --navigator-lift: 5.25rem;
  --navigator-button-size: 15rem;
  --navigator-button-icon-size: 6rem;

  padding: var(--navigator-padding);
}

.nv-app:not(.nv-stand-alone) {
  border-right: var(--bs-gray-300) 1px solid;
}

.nv-app > .nv-nav {
  gap: var(--navigator-gap-2x);
}

.nv-app:not(.nv-stand-alone) > .nv-nav {
  flex-direction: column;
  gap: var(--navigator-gap);
}

.nv-app > .nv-nav > .btn {
  gap: var(--navigator-gap);
}

.nv-app > .nv-nav > .btn:not(:hover) {
  transition: font-size 500ms ease, border-radius 500ms ease;
}

.nv-app > .nv-nav-lift {
  display: none;
  max-height: var(--navigator-lift);
}

.nv-app:not(.nv-stand-alone) > .nv-nav-lift {
  display: unset;
}

.nv-app.nv-stand-alone > .nv-nav > .btn {
  width: var(--navigator-button-size);
  height: var(--navigator-button-size);
  padding: var(--navigator-padding-2x) !important;
}

.nv-app.nv-stand-alone > .nv-nav > .btn > i {
  font-size: var(--navigator-button-icon-size);
}

.nv-cache-status {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1030;
  height: 2.2rem;
  width: 3rem;
  overflow: hidden;
  font-size: 1.5rem;
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  0% {
    opacity: 0.2;
    font-size: 1.4rem;
  }
  50% {
    opacity: 1;
    font-size: 1.6rem;
  }
  100% {
    opacity: 0.2;
    font-size: 1.4rem;
  }
}

@media (max-width: 575px) {
  .nv-app {
    --navigator-lift: 0;
    --navigator-button-size: 12rem;
    --navigator-button-icon-size: 4.5rem;
  }

  .nv-app:not(.nv-stand-alone) {
    height: unset !important;
    border-right: unset;
    border-bottom: var(--bs-gray-300) 1px solid;
  }

  .nv-app:not(.nv-stand-alone) > .nv-nav {
    flex-direction: row;
  }

  .nv-app:not(.nv-stand-alone) > .nv-nav-lift {
    display: none;
  }
}
