.nc-app {
  position: relative;
  background-image: url("./assets/sun-faded.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.nc-card {
  position: relative;
}

.nc-card,
.nc-search-input-container {
  background-color: transparent;
  overflow: hidden;
}

.nc-search-input-spacer {
  transition: 375ms ease-in-out all;
}

.nc-card:after,
.nc-search-input-container:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--bs-body-bg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: blur(8px) opacity(0.5);
}

.nc-card > .card-body,
.nc-search-input-container > * {
  position: relative;
  z-index: 10;
}
