:root {
  --navigator-padding: 0.375rem;
  --navigator-gap: 0.375rem;
  --navigator-lift: 5.25rem;
}

.nv-nav {
  padding: var(--navigator-padding);
  flex-wrap: wrap;
}

.nv-nav:not(.nv-stand-alone) {
  flex-direction: column;
  gap: var(--navigator-gap);
  border-right: var(--bs-gray-300) 1px solid;
}

.nv-nav.nv-stand-alone {
  width: calc(100vw - (2 * var(--navigator-padding)));
  gap: calc(2 * var(--navigator-gap));
}

.nv-nav > .btn {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--navigator-gap);
  overflow: hidden;
}

.nv-nav > .btn:not(:hover) {
  transition: font-size 500ms ease, border-radius 500ms ease;
}

.nv-nav:not(.nv-stand-alone) > .btn:last-child {
  margin-bottom: var(--navigator-lift);
}

.nv-nav.nv-stand-alone > .btn {
  width: 15rem;
  height: 15rem;
  padding: 0.5rem !important;
}

.nv-nav.nv-stand-alone > .btn > i {
  font-size: 6rem;
}

.nv-nav.nv-stand-alone > .btn > span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
