.an-app {
  position: relative;
  background-image: url("./assets/angel-faded.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.an-cards {
  gap: 0.375rem;
}

.an-card {
  position: relative;
}

.an-card,
.an-search-input-container,
.an-footer {
  background-color: transparent;
  overflow: hidden;
}

.an-card:after,
.an-search-input-container:after,
.an-footer:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--bs-body-bg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: blur(8px) opacity(0.5);
  -webkit-filter: blur(8px) opacity(0.65);
}

.an-card > .card-body,
.an-search-input-container > *,
.an-footer > * {
  position: relative;
  z-index: 10;
}
